body{
    background: linear-gradient(to right, #00ffff, #ec38bc, #820cd1, #00ffff);
}

 .name{
    font-size: 40pt;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
 }

 /*Para la descripción página inicio*/
.descbrev{
    text-align: center;
}

/*Para el logotipo*/
.logo{
    display: block;
    margin: auto;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #ff8ae0, #00ffff, #3852e6, #bf5fff);
    border-image-slice: 1;
}

footer{
    text-align: center;
}